@import "../../../../styles/animations.scss";

$color-primary: #6d6656;
$color-white: #fff;

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  border-radius: 8px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(233 245 226);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    gap: 10px;
    margin: 20px;
    border-radius: 8px;
    color: #776d6d;
    font-weight: 400;

    h1 {
      font-family: "Great Vibes", cursive;
      border-bottom: 1px solid #6d6969;
      padding-bottom: 10px;
      width: 100%;
      text-align: center;
      font-size: 2.2rem;
      font-weight: 700;
    }

    &__groom {
      @include slideLeftBounce;
    }

    &__bride {
      @include slideRightBounce;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__address {
    text-align: center;
  }

  &__button {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    color: $color-white;
    text-decoration: none;
    background-color: $color-primary;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }

  &__logo {
    margin: 25px 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    @include zoomIn;
  }
}
