@import "../../../../styles/animations.scss";

.albumPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    margin: 20px 10px;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
  }

  &__image {
    @include rotateIn;

    img {
      width: 100%;
      animation: shake 2s ease-in-out 1s;
      object-fit: cover;
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
}
