@import "../../../../styles/animations.scss";

$color-primary: #6d6656;
$color-white: #fff;
$shadow-text: 2px 2px 4px rgba(0, 0, 0, 0.5);

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &__image {
    width: auto;
    height: 100vh;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    @include zoomIn;

    h1 {
      font-size: 4rem;
      font-weight: 600;
      color: $color-white;
      font-family: "Great Vibes", cursive;
      text-wrap: nowrap;
      text-shadow: $shadow-text;
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
      color: $color-white;
      text-shadow: $shadow-text;
      margin: 1rem 0 1.5rem;
      text-align: center;
    }
  }
}
