@use "../../../../styles/animations.scss" as *;
@use "../../../../styles/variables.scss" as *;

$shadow-text: 2px 2px 4px rgba(0, 0, 0, 0.5);

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;

  &__image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    padding: 0 20px;
    @include zoomIn;

    h1 {
      @include fluid-font(2.5rem, 6rem);
      font-weight: 600;
      color: $color-white;
      font-family: "Great Vibes", cursive;
      text-wrap: nowrap;
      text-shadow: $shadow-text;
      margin-bottom: 0.5rem;
    }

    p {
      @include fluid-font(1rem, 2rem);
      font-weight: 400;
      color: $color-white;
      text-shadow: $shadow-text;
      margin: 0.5rem 0 1rem;
      text-align: center;
      max-width: 90%;
    }
  }
}

// Responsive adjustments
@include max-sm {
  .hero {
    &__content {
      bottom: 10%;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1rem;
        margin: 0.5rem 0;
      }
    }
  }
}

@include min-lg {
  .hero {
    &__content {
      bottom: 8%;
    }
  }
}

@include min-xxl {
  .hero {
    &__content {
      bottom: 10%;

      h1 {
        font-size: 7rem;
      }

      p {
        font-size: 2.5rem;
      }
    }
  }
}
