.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;

  &__music > img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: 10px;
    animation: rotate 10s linear infinite;

    &.stop {
      animation: none;
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &__scroll_top {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-right: 10px;
    animation: up cubic-bezier(0.4, 0, 0.2, 1) 1s infinite;
    transition: all 0.3s ease-in-out;

    @keyframes up {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-20px);
      }
    }
  }
}
