/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Great+Vibes&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Great+Vibes&family=Imperial+Script&display=swap");
body {
  margin: 0;
  font-family: "EB Garamond", sans-serif !important;
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(235, 208, 238)
  );
}

#root {
  overflow: hidden;
}
